.router.custom-big-calendar {
  .cell_wrapper + .cell_wrapper {
    border-left: 1px solid #ddd;
  }
  .cell_wrapper:hover .rbc-row-content {
    color: #fff !important;
  }
  .rbc-row-segment {
    position: relative;
    cursor: pointer;
  }
  .rbc-row {
    cursor: pointer;
  }
  .rbc-row-content {
    height: 100%;
  }
  .rbc-row-content .rbc-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .rbc-row-content .rbc-row .rbc-date-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #475461;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
  }

  .rbc-event {
    background-color: rgba(255, 84, 84, 1);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    font-size: 10px;
    padding: 0px 6px;
    border-radius: 0px 0px 0px 4px;
    text-align: center;
    font-family: 'Google Sans';
  }

  .selectable {
    background: rgba(255, 39, 39, 0.05) !important;
  }
  .rbc-off-range-bg {
    background-color: #e6e6e6 !important;
  }
  .rbc-day-bg,
  .rbc-today {
    background-color: #ffffff;
  }
}

.alertSuccess {
  align-items: initial;
  font-size: 18px;
  margin-bottom: 26px;
  background-color: rgba(241, 255, 244, 1);
  border-color: rgba(51, 204, 127, 1);
  border-radius: 4px;
  padding: 10px 13px;
}

.alertSuccess .ant-alert-content {
  margin-top: -4px;
}

.alertSuccess .ant-alert-success .ant-alert-icon {
  color: #52c41a;
}

.alertSuccess .alert__title {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #33cc7f;
}

.alertSuccess .alert__description {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.alertSuccess .anticon.anticon-close {
  color: #33cc7f;
}

.alertSuccess .ant-alert-close-icon {
  display: flex;
}
