.companies {
  .register_date {
    font-size: 14px;
    color: #45485e;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .custom-datepicker {
    width: 174px;
    height: 40px;
    border: 1px solid #f7f7f7 !important;
    border-radius: 4px !important;
  }
  .custom-select {
    border: 1px solid #f7f7f7 !important;
    border-radius: 4px !important;
    background-color: #fff;
    height: 40px;
    position: relative;
    width: 174px;
  }
}
