div.custom_timeline_container_router div.ant-timeline-item-label {
  width: calc(20% - 12px) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.custom_timeline_container_router div.ant-timeline-item-content {
  left: 20% !important;
  width: 100% !important;
}

div.custom_timeline_container_router div.ant-timeline-item-tail,
div.custom_timeline_container_router div.ant-timeline-item-head {
  left: 20% !important;
  border-color: #333;
  color: #333;
}
